*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;

}

.header{
    height: 5rem;
    display: flex;
    align-items: center;
}
.header-container{
    width: 90vw;
    max-width: 1080px;
     margin: 0px auto;
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.nav-logo .fa-home{
    margin-right: 5px;
    cursor: pointer;
}
.nav-logo .fa-bars{
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
}

nav.nav-links{
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8faff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    transform: translateX(-100%);
}
nav.nav-links.show{
    transform: translateX(0);
}

.nav-link a{
    display: block;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    color: rgb(104, 101, 101);
}
.btn-cart{
    position: absolute;
    top: 1.8rem;
    font-size: 20px;
    color: rgba(43, 43, 43,.8);
cursor: pointer;
    right: 5rem;
}

@media screen and (min-width: 900px){
    .header-container{
        display: flex;
        align-items: center;
    }
    nav.nav-links{
        position: relative;
        background: transparent;
        flex-direction: row;
        top: 0px;
        margin-left: 30px;
        transform: translateX(0);
        width: 60%;
    }
    .nav-link{
        margin-right: 30px;
    }
    .fa-bars{
        display: none;
    }

    
}